/* GENERAL BODY */
body{
    margin-left:auto;
    margin-right:auto;
    background-image: url("../resources/bg.png"); ;
    padding-left: 230px;
    padding-right: 230px;
    min-width: 500px;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: impact;
}
p{
    text-align: center;
    font-family: sans-serif;
}



/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #002275;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    gap: 20px;
    border-radius: 10px;
}
.navbar a {
    color: white;
    font-family: impact;
    font-size: 25px;
    text-decoration: none;
    /* font-weight: bold; */
    transition: color 0.2s ease;
    /* margin-left: 20px; */
    
}
.navbar a:hover {
    color: #5678B9;
}
.navbar a:active{
    color: #002275;
}
.navbar a.current{
    color: #A9BCE0;
}



/* HOMEPAGE */
.homepage{
    background-color: #F7F7F8;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    border-color: #002275;
}
.homepage h1{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}



/* MEDIA */
img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/* DASHBOARD */
.homepage p{
    margin-top: -10px;
    margin-bottom: 20px;
}
.homepage h1{
    color: #5678B9;
}
.dashboard{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #002275;
}
.Dash_Header{
    background-color: #5678B9;
    color: white;
    font-family: impact;
}
.Q{
    background-color: #5678B9;
    color: white;
    font-family: impact;
}
.dashboard th, .dashboard td{
    border: 1.5px solid #002275;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}



/* BLOG */
.blogbuttons {
    display: flex;
    justify-content: center;
    background-color: #5678B9;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    gap: 20px;
    border-radius: 10px;
}
.blogbuttons a {
    color: white;
    font-family: impact;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.2s ease;
    
}
.blogbuttons a:hover {
    color: #002275;
}
.blogbuttons a.current{
    color: #A9BCE0;
}
.mainpage_blog{
    background-color: #F7F7F8;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #5678B9;
}
.mainpage_blog h1{
    font-family: impact;
}



/* ABOUT */
.bio{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #002270;
}
.bio p{
    text-align: left;
}